/*-----------------General----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --headertopcolor: orange;
    --headerbotcolor: antiquewhite;
    --anchorlightcolor: green;
    --anchorheavycolor: darkgreen;
}

/*-------------------Header-----------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: linear-gradient(var(--headertopcolor), var(--headerbotcolor));
}

#header-img {
    margin: 20px 0;
    width: 120px;
    height: 120px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

nav>ul>li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: var(--anchorlightcolor);
}

a:hover {
    color: var(--anchorheavycolor);
}

/*------------------Body----------------------*/

body {
    font-size: 1.5rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 210px 0 70px;
    font-size: 5rem;
}

p {
    width: 90%;
    margin: 50px auto;
    text-align: justify;
}

iframe {
    width: 70%;
    aspect-ratio: 16/9;
    margin: 50px 15%;
}

form {
    width: 100%;
    text-align: center;
}

#email {
    display: block;
    width: 20%;
    margin: 5px 40% 20px;
}

#submit {
    background: linear-gradient(var(--headertopcolor), var(--headerbotcolor));
}

/*----------------Responsiveness-------------*/

@media only screen and(max-width: 1000px){}